body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* Contenedor principal */
.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-color: #e6e6e6;
    color: #026d00;
    border-radius: 8px;
    
    margin-bottom: 20px;
}

.logo {
    width: 50px;
    height: 50px;
}

/* Gráficos */
.charts-section {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    justify-content: space-between;
}

.chart-container {
    width: 48%; /* Asegura que los gráficos se alineen uno al lado del otro */
    padding: 10px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Tabla */
.table-section {
    margin-bottom: 30px;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

.styled-table thead tr {
    background-color: #026d00;
    color: #ffffff;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}

/* Formulario */
.form-section {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form input, .form textarea, .form button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form button {
    background-color: #026d00;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

.form button:hover {
    background-color: #026d00;
}